html{box-sizing: border-box;}
a {text-decoration: none;}

*, *:before, *:after{
    box-sizing: border-box;
}

button{
    border: none;
    background-color: transparent;
}

.display-none{display: none;}

.font-Saira{font-family: 'Saira', sans-serif;}
.font-Lato{font-family: 'Lato', sans-serif;}
.font-Roboto-Condensed{font-family: 'Roboto Condensed', sans-serif;}


strong{font-weight: bold;}
.underline{text-decoration: underline;}
.uppercase{text-transform: uppercase;}
.smallcaps{font-variant: small-caps;}

.bold{font-weight: 700;}
.bold-100{font-weight: 100;}
.bold-200{font-weight: 200;}
.bold-300{font-weight: 300;}
.bold-400{font-weight: 400;}
.bold-500{font-weight: 500;}
.bold-600{font-weight: 600;}
.bold-800{font-weight: 800;}
.bold-900{font-weight: 900;}

.italic{font-style: italic;}

.size-6{font-size: 0.375em;}
.size-8{font-size: 0.5em;}
.size-10{font-size: 0.625em;}
.size-12{font-size: 0.75em;}
.size-13{font-size: 0.8125em;}
.size-14{font-size: 0.875em;}
.size-16{font-size: 1em;}
.size-18{font-size: 1.125em;}
.size-20{font-size: 1.25em;}
.size-22{font-size: 1.375em;}
.size-24{font-size: 1.5em;}
.size-26{font-size: 1.625em;}
.size-28{font-size: 1.75em;}
.size-30{font-size: 1.875em;}
.size-32{font-size: 2em;}
.size-34{font-size: 2.125em;}
.size-36{font-size: 2.25em;}
.size-50{font-size: 3.125em;}

.lineH-1-2{line-height: 1.2;}
.lineH-1-3{line-height: 1.3;}
.lineH-1-4{line-height: 1.4;}
.top-text{position: relative;top:-150px;}
.lineH-20{line-height: 20px;}
.lineH-30{line-height: 30px;}
.lineH-70{line-height: 70px;}



h1{
    display: inline;
    font-weight: 900;
    font-size: 2.75em;
    font-family: 'Catamaran', sans-serif;
}
h2{
    display: inline;
    font-weight: 800;
    font-size: 2.375em;
}
h3{
    display: inline;
    font-weight: 700;
    font-size: 2em;
}
.header3{
    display: inline;
    font-weight: 800;
    font-size: 2em;
}
h4{
    display: inline;
    font-weight: 600;
    font-size: 1.625em;
}


.yellowTopBar{background-color: gold;color: black;padding: 5px 20px 5px 20px;text-align: left;}

#Logo{
    padding: 20px;
    width: 108px;
    background-image: linear-gradient(to bottom right, hotpink, red);
    text-align: center;
}
.logo-cover{
    background-image: linear-gradient(to bottom right, #ff4d4d, rgba(0,0,0,0));
/*    background-image: linear-gradient(to bottom right, #ff9999, #ff4d4d, rgba(0,0,0,0));*/
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.cover-bg{
    background-image: linear-gradient(rgba(0,0,0,0), #000);
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.z-2{z-index: 3;}
.main-article-section{height: 75vh;max-height: 560px;}
.main-article{
    position: relative;
    background: #000 url("../images/iphone11-796x419.jpg") no-repeat 50%;
    background-size: cover;
    width: 65%;
    height: 100%;
    min-height: 30vh;
}
.main-article-header{font-size: 3.5vw;padding-right: 60px;display: block;font-family: 'Roboto Condensed', sans-serif;}
.article-by-line{font-size: 14px;color: #AAA;}
.sub-article-section{width: 35%;}
.sub-article-2{
    position: relative;
    background: #000 url("../images/Apple-Watch-Series-5-cases-2-796x419.jpg") no-repeat 50%;
    background-size: cover;
    height: 50%;
    min-height: 30vh;
    margin: 0 0 5px 10px;
}
.sub-article-3{
    position: relative;
    background: #000 url("../images/iPad-796x418.jpg") no-repeat 50%;
    background-size: cover;
    height: 50%;
    min-height: 30vh;
    margin: 5px 0 0 10px;
}
.sub-article-header{font-size: 160%;padding-right: 10px;display: block;font-family: 'Roboto Condensed', sans-serif;}

.header-link{color: #ff4d4d;font-family: 'Roboto Condensed', sans-serif;}
.header-link:hover{color: #0d0d0d;}

.article-block{height: 130px;width: 100%;}
.article-block-w{width: 20vw;max-width: 270px;min-width: 75px;}
.news-bg-1{background: #000 url("../images/Latest%20News/MacbookCheap-478x270.jpg") no-repeat 50%;background-size: cover;}
.news-article-title{display: block;font-weight: bold;font-size: 16px;padding: 5px 0 5px 0;}
.author-link{color: #AAA;}
.author-link:hover{color: #0d0d0d;}

.footer-links{text-align: center;background-color: #1a1a1a;margin: auto;padding: 30px;text-transform: uppercase;}
.footer-links ul{list-style-type: none;margin-top: 30px;}
.footer-links ul li{display: inline-block;color: #AAA;font-size: 12px;font-family: 'Roboto Condensed', sans-serif;padding: 5px;}
.footer-links ul li:hover{color: white;}

.social-media{justify-content: center;font-size: 22px;margin-top: 20px;}
.social-media a{margin-left: 12px;color: white;background-color: #404040;width: 40px;height: 40px;line-height: 40px; border-radius: 50%;border: 1px solid #404040;}
.social-media a:first-of-type{margin-left: 0;}
.social-media a:hover{background-color: #1a1a1a;}

.copyright-section{background-color: #0d0d0d;color: #AAA;text-align: center;font-size: 13px;padding: 40px;font-family: 'Roboto Condensed', sans-serif;line-height: 1.5;}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 600px), (min-width: 600px) {
    .example {background: green;}
    
    #Logo{height: 44px;}
    
    #navLinks {width: calc(100% - 108px);}
    .navBlack{display: none;}
    .navBlack a{display: none;}
    .navWhite a{display: none;}
    .navWhite{height: 100%;}
    .navWhite{color: #888;background-color: whitesmoke;padding: 0px 0px 0px 10px;}
    
    #navBars{display: block;}
    
    .main-article-section{height: auto;flex-direction: column;}
    .main-article{width: 100%;}
    .sub-article-section{width: 100%;}
    .sub-article-2{margin: 5px 0 5px 0;}
    .sub-article-3{margin: 0;}
    .sub-article-header{font-size: 110%;}
    .logo-cover{display: none;}

    .article-block{height: 75px;width: 75px;display: inline-block;}
    .article-block-w{width: 100%;max-width: none;}
    .news-article-title{font-size: 15px;}
    .aside-title{max-width: 80%;}

    .new-line-mobile{display: block;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {background: blue;}
    
    #Logo{height: 85px;line-height: 60px;}
    
    .navWhite{height: 60%;}
    .navBlack{height: 40%;}
    
    #navLinks {width: calc(100% - 108px);}
    .navBlack{display: block;}
    .navBlack a{display: block;}
    .navWhite a{display: block;}
    .navBlack{color: #888;background-color: black;padding: 5px 10px 5px 10px;}
    .navBlack a{color: #888;cursor: pointer;padding: 4px 10px 4px 10px;transition-duration: 0.50s;}
    .navBlack .highlight{color: #DDD;}
    .navBlack a:hover{color: #CCC;}
    .navWhite{color: #888;background-color: whitesmoke;padding: 0px 0px 0px 10px;}
    .navWhite a{color: #999;cursor: pointer;padding: 12px 10px 12px 10px;transition-duration: 0.50s;}
    .navWhite a:hover{color: #000;}
    
    #navBars{display: none;}
    
    .main-article-section{height: 63vh;flex-direction: row;}
    .main-article{width: 65%;}
    .sub-article-section{width: 35%;}
    .sub-article-2{margin: 0 0 5px 10px;}
    .sub-article-3{margin: 5px 0 0 10px;}
    .sub-article-header{font-size: 120%;}
    .logo-cover{display: none;}
    
    .article-block{height: 130px;width: 100%;}
    .article-block-w{width: 30vw;min-width: 230px;}
    .news-article-title{font-size: 16px;font-family: 'Roboto Condensed', sans-serif;}
    .news-article-title a{color: black;}
    .news-article-title a:hover{color: red;}
    .aside-title{max-width: none;}
    
    .new-line-mobile{display: inline;}
} 

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
    .example {background: pink;}
    
    #navLinks {width: 100%;height: 80px;}
    #Logo{display: none;}
    
    .main-article-section{height: 75vh;flex-direction: row;}
    .main-article{width: 65%;}
    .sub-article-section{width: 35%;}
    .sub-article-header{font-size: 160%;}
    .logo-cover{display: block;}

    .article-block{height: 130px;width: 100%;}
    .article-block-w{width: 22vw;max-width: 270px;min-width: 75px;}
    .news-article-title{font-size: 16px;}
    .aside-title{max-width: none;}

    .new-line-mobile{display: inline;}
}

#navLinks{overflow: visible;}
#navBars{padding: 0 15px 0 15px;font-size: 18px;color: orangered;border-left: 1px lightgray solid;}
#searchBtn{padding: 0 15px 0 15px;font-size: 16px;color: lightgray;border-left: 1px lightgray solid;}
#searchBtn:hover{color: gray;}


nav [class*="col"]{
    margin-right: 2px;
}
nav [class*="col"]:last-of-type{
    margin-right: 0;
}

[class*="col"]{
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 15px;
}
div, header, footer, article, a, ul, li{transition-duration: 0.5s;}
div:hover, header:hover, footer:hover, article:hover, a:hover, ul:hover, li:hover{
    outline: 1px blue solid;
}

.col-1-1{
    display: block;
    width: 100%;
}
.col-1-2{
    width: 49%;
}
.col-1-3{
    width: 32.33%;
}
.col-1-4{
    width: 24%;
}
.col-1-5{width: 19%;}
.mcol-1-5{min-width: 19%;}
.col-1-6{
    width: 16.66%;
}
.col-1-7{
    width: 12%;
}
.col-2-3{
    width: 66.67%;
}
.col-5-6{
    width: 83.33%;
}
.col-5-7{
    width: 72.42%;
}
.col-5-8{
    width: 62.5%;
}
.col-55{
    width: 58%;
}


.rotate-20{
    transition-duration: 0.5s;
    -ms-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
}
.rotate-20:hover{
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.img-tiny{width: 12px;}

input::placeholder{color: white;opacity: 0.9;}
input::-ms-input-placeholder{color: white;}
input:-ms-input-placeholder{color: white;}

.no-bg{background: transparent;border: none;}
.no-decor-btn{
    color: white;
    border: none;
    cursor: pointer;
    background: transparent;
}
.border-3{border: 3px gray solid;}
.border-r{border-right: 1px gray solid;}
.border-b-3{border-bottom: 3px gray solid;}
.border-rad-10{border-radius: 10px;}
.border-gray-4{border-color: #BBB;}

.height-30{height: 30px;}
.height-50{height: 50px;}
.height-100{height: 100px;}
.height-200{min-height: 200px;}
.height-300{min-height: 300px;}
.height-400{min-height: 400px;}
.height-500{min-height: 500px;}
.height-600{min-height: 600px;}
.height-700{min-height: 700px;}
.height-800{min-height: 800px;}

.text-white{color:white;}
.text-mute{color:#AAA;}
.text-red{color:#ff4d4d;}
.bg-white{background-color: #FFF;}
.black{background-color: #000;}
